$neon-brand: #a5f721;
  


#nav-dropper {
  // background-color: rgba(255, 255, 255, 0.8);
  //   -webkit-backdrop-filter: blur(25px);
  //   backdrop-filter: blur(25px);
  position: fixed;
  top: -130px;
  width: 100%;
  height: inherit;
  display: block;
  transition: top 0.3s;
  z-index: 845654636436;
  padding-top: 1.0rem;
  padding-bottom: 1.4rem;
  font-family: "Open Sans", sans-serif;

  .plus-button-style {
    height: 3rem;
    padding-top: 0.13rem;
    color: #4dc14f;
  }

  .dropper-logo-style {
    height: 3rem;
  }

   .small_pill_nav {
    background-color: #fff;
    padding-top: 0.7rem;
    border-radius: 28px;
    padding-left: 1rem;
    padding-right: 0.7rem;

  }
}

#nav-dropper a {
  padding-right: 0.5rem;
  float: left;
  display: block;
  color: black;
  text-align: center;
  font-family: "poppins";
  padding-bottom: 0.7rem;
  text-decoration: none;
  font-size: 1rem;
}

#nav-dropper a:hover {
  // color: #EB168C;
  color: #9c2984;
}

.special-side-nav-layer {
  z-index: 9845654636436;
}

#offcanvasRight {
  z-index: 9845654636436;
}

.black-box-style {
  font-size: 3.7rem;
  font-weight: 700;
  font-family: "poppins";
  color: #ffffff;

  background: #000000; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 7px 7px #cacaca;

  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

@media (max-width: 575.98px) {
  .black-box-style {
    font-size: 3.7rem;
    font-weight: 700;
    font-family: "poppins";
    color: #ffffff;

    background: #000000; /* fallback for old browsers */

    box-shadow: 7px 7px #cacaca;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
}

.reverse-box-style {
  font-size: 3.7rem;
  font-weight: 700;
  font-family: "poppins";
  color: #ffffff;

  background: #000000; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 7px 7px #cacaca;

  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  transition: 0.8s;
}

// LOGO HOVER EFFECT
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.reverse-box-style:hover {
  font-size: 3.7rem;
  font-weight: 700;
  font-family: "poppins";
  color: $neon-brand;

  background: #000000; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: none;

  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  transition: 0.8s;
}

@media (max-width: 575.98px) {
  .reverse-box-style {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: "poppins";
    color: #ffffff;
    height: inherit;
    background-color: #000000;
    box-shadow: 7px 7px #cacaca;

    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.billboard-text {
  font-size: 7rem;
  line-height: 5.6rem;
  font-weight: 700;
  font-family: "poppins";
  color: #ffffff;
  height: inherit;
  background-color: #000000;

  box-shadow: 17px 17px #ffffff;

  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;

  .brand-neon {
    // color: #a5f721;
    
    background: radial-gradient(circle at 45% 92%, rgba(154, 154, 154,0.08) 0%, rgba(154, 154, 154,0.08) 33.333%,rgba(119, 119, 119,0.08) 33.333%, rgba(119, 119, 119,0.08) 66.666%,rgba(83, 83, 83,0.08) 66.666%, rgba(83, 83, 83,0.08) 99.999%),radial-gradient(circle at 25% 59%, rgba(82, 82, 82,0.08) 0%, rgba(82, 82, 82,0.08) 33.333%,rgba(93, 93, 93,0.08) 33.333%, rgba(93, 93, 93,0.08) 66.666%,rgba(104, 104, 104,0.08) 66.666%, rgba(104, 104, 104,0.08) 99.999%),radial-gradient(circle at 7% 33%, rgba(56, 56, 56,0.08) 0%, rgba(56, 56, 56,0.08) 33.333%,rgba(134, 134, 134,0.08) 33.333%, rgba(134, 134, 134,0.08) 66.666%,rgba(212, 212, 212,0.08) 66.666%, rgba(212, 212, 212,0.08) 99.999%),linear-gradient(90deg, rgb(3, 199, 193),#5c03b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.brand-neon-hero {
  background-color: #000000;
  // box-shadow: 7px 7px #cacaca;
  box-shadow: 7px 7px #cacaca;
  color: $neon-brand;
  padding: 4px 6px 4px 6px;
}

// MEDIA QUERY BELOW

@media (max-width: 767.98px) {
  .billboard-text {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;
    font-family: "poppins";
    color: #ffffff;
    height: inherit;
    background-color: #aa3232;
    box-shadow: 17px 17px #cacaca;

    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
}


@media (max-width: 575.98px) {
  .billboard-text {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    font-family: "poppins";
    color: #ffffff;
    height: inherit;
    background-color: #000000;
    box-shadow: 17px 17px #ffffff;

    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
}

.simple-nav-text {

    font-family: "poppins";


  }
