.pd-btm {

    padding-bottom: 15rem;
}
.pd-top {

    padding-top: 15rem;
}
.sm-pd-btm {

    padding-bottom: 8rem;
}
.sm-pd-top {

    padding-top: 8rem;
}

.bg_custom_color {

    	// background-color:#f9f9f9;
        background-color:#ffffff;
}

// Typography styles

.headline {

    font-size: 4rem;
    color    : #000000;
    

}

.headline:hover {

    font-size: 4rem;
    color    : #8f2990;
    cursor: pointer;


        // background-image: url('../img/bill-refresh/final_bill_2.jpg');
        // background-repeat: no-repeat;
        // background-size: cover;
        // height: 100vh;
        // width: 100vw;
    
}

a, h2 {

    text-decoration: none;
}

