.pd-btm {
  padding-bottom: 15rem;
}

.pd-top {
  padding-top: 15rem;
}

.sm-pd-btm {
  padding-bottom: 8rem;
}

.sm-pd-top {
  padding-top: 8rem;
}

.bg_custom_color {
  background-color: #ede7dd;
}

.headline {
  font-size: 4rem;
  color: #000000;
}

.headline:hover {
  font-size: 4rem;
  color: #8f2990;
  cursor: pointer;
}

a, h2 {
  text-decoration: none;
}

.special_nav_style a {
  color: #161616;
  font-size: 1.2rem;
}

.special_nav_style a:hover {
  text-decoration: overline;
  color: #a013a2;
}

.video_thumbnail_style_red {
  background-color: #570202;
}
