@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.custom-dark {
  background-color: #fdfdfd;
}

.custom-purple {
  background-color: #eb168c;
}

.big-about {
  height: 45vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/single-headshot-bio.png");
}

.big-about .custom-eyebrow {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.big-about .custom-eyebrow {
  text-transform: uppercase;
}

.big-about-mobile {
  height: 60vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/mobile-about-img.png");
}

.big-about-mobile .custom-eyebrow {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.big-about-mobile .custom-eyebrow {
  text-transform: uppercase;
}

#blue-final {
  background-color: #2b2b2b;
}

.blue-presentation {
  background-color: #2e4464;
  height: inherit;
  padding-top: 0rem;
  padding-bottom: 4rem;
}

.big-bluehost {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/blue-img/blue-hero-3.png");
}

.big-bluehost .custom-eyebrow {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.big-bluehost #dmn-final {
  background-color: #680303;
}

.big-bluehost .custom-eyebrow {
  text-transform: uppercase;
}

#dmn-final {
  background-color: #570202;
}

.big-dmn-serv {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/dmn-serv-img/dmn-hero-3.png");
}

.big-dmn-serv .custom-eyebrow {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.big-dmn-serv #dmn-final {
  background-color: #2b2b2b;
}

.big-dmn-serv .custom-eyebrow {
  text-transform: uppercase;
}

.big-web-social {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/dmn-img/award-2.png");
}

.big-web-social .custom-eyebrow {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.overlay-dmn {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.web-presentation {
  background-color: #fff;
  height: inherit;
  padding-top: 0rem;
  padding-bottom: 4rem;
}

#web-final {
  background-color: #0a39c9;
}

.big-web {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
  background-blend-mode: overlay, hard-light, normal;
}

.big-web .custom-eyebrow {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.content-styles-deliver-web {
  padding-bottom: 8rem;
  padding-top: 2rem;
  background-color: #0a39c9;
}

.content-styles-deliver-web .netsol-laptop-intro-style {
  margin-top: 3rem;
  margin-bottom: auto;
}

.content-styles-deliver-web .intro-asset-style {
  margin-bottom: -7rem;
}

.content-styles-deliver-web .bill-laptop-intro-style-image {
  margin-bottom: -14rem;
}

.overlay-web {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #767676;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.big-domain-social {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/dmn-img/award-2.png");
}

.big-domain-social .custom-eyebrow {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.big-domain {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/dmn-img/domain-cover.svg");
}

.big-domain .custom-eyebrow {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.fis-deliverables {
  background-color: #89b0ae;
  height: inherit;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.fis-deliverables .fis-padding {
  padding-top: 4rem;
}

.fis-green-color {
  background-color: #012834;
}

.dmn-red-color {
  background-color: #b63837;
}

.dmn-presentation {
  height: inherit;
  padding-top: 1rem;
}

.dmn-presentation .dmn-padding {
  padding-top: 4.5rem;
}

.big-glados {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background: linear-gradient(55deg, #212121 0%, #212121 40%, #323232 calc(40% + 1px), #323232 60%, #008F95 calc(60% + 1px), #008F95 70%, #14FFEC calc(70% + 1px), #14FFEC 100%);
}

.big-glados .custom-eyebrow {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.glados-presentation {
  background-color: #191919;
  height: inherit;
  padding-top: 0rem;
  padding-bottom: 4rem;
}

.big-style {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/img_style/hero_att_v2.png");
}

.big-style .custom-eyebrow {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.big-style .custom-eyebrow {
  text-transform: uppercase;
}

.style-guide-presentation {
  background-color: #1CA8E0;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.big-billing {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/bill-refresh/chill-payment.jpg");
}

.big-billing .custom-eyebrow {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.big-billing .custom-eyebrow {
  text-transform: uppercase;
}

.billing-presentation {
  background-color: #ffffff;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.content-styles-deliver-bill {
  padding-bottom: 8rem;
  padding-top: 2rem;
}

.content-styles-deliver-bill .netsol-laptop-intro-style {
  margin-top: 3rem;
  margin-bottom: auto;
}

.content-styles-deliver-bill .intro-asset-style {
  margin-bottom: -7rem;
}

.content-styles-deliver-bill .bill-laptop-intro-style-image {
  margin-bottom: -14rem;
}

.custom-billing-seperator {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.big-fis {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/fis-img/fis-cover.png");
}

.big-fis .custom-eyebrow {
  text-transform: uppercase;
  font-weight: 500;
}

.big-fis .custom-eyebrow {
  text-transform: uppercase;
  font-weight: 500;
}

.big-netsol {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/netsol-img/netsol-cover.jpg");
}

.big-netsol .custom-eyebrow {
  text-transform: uppercase;
  font-weight: 500;
}

.big-netsol .custom-eyebrow {
  text-transform: uppercase;
  font-weight: 500;
}

.big-workspace {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background: linear-gradient(125deg, #FDFF9C 0%, #0500FF 100%), linear-gradient(180deg, #D3D3D3 0%, #161616 100%), linear-gradient(310deg, #00F0FF 0%, #00F0FF 20%, #0017E3 calc(20% + 1px), #0017E3 40%, #000F8F calc(40% + 1px), #000F8F 70%, #00073F calc(70% + 1px), #00073F 100%), linear-gradient(285deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
  background-blend-mode: overlay, overlay, exclusion, normal;
}

.big-workspace .custom-eyebrow {
  text-transform: uppercase;
}

.big-workspace .overlay-workspace {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-styles-deliver-workspace {
  padding-bottom: 4rem;
  padding-top: 2rem;
  background-color: #0f9d58;
}

.content-styles-deliver-workspace .netsol-laptop-intro-style {
  margin-top: 5rem;
}

.content-styles-deliver-workspace .intro-asset-style {
  margin-bottom: -8rem;
}

.google-presentation {
  background-color: #404040;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.netsol-presentation {
  background-color: #f2f2f2;
  height: inherit;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.netsol-presentation .project-spacer {
  padding-top: 4.5rem;
}

.workspace-presentation-deliverables {
  background-color: #0f9d58;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.netsol-presentation-deliverables {
  background-color: #89b0ae;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.google-presentation-deliverables {
  background-color: #89b0ae;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.billing-presentation-deliverables {
  background-color: #89b0ae;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.intro-project {
  height: inherit;
  background-color: #ffffff;
}

.intro-project .content-styles {
  padding-bottom: 3rem;
}

.netsol-laptop-intro-style {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.netsol-laptop-intro-style-image {
  margin-bottom: -9rem;
}

.content-styles {
  padding-top: 4rem;
}

.content-styles-deliver {
  padding-bottom: 4rem;
  padding-top: 3rem;
}

.overlay-netsol {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wow {
  visibility: hidden;
}
