@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.custom-dark {
  background-color: #fdfdfd;
}

.custom-purple {
  background-color: #eb168c;
}

.big-about {
  height: 45vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/single-headshot-bio.png");

  .custom-eyebrow {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }

  .custom-eyebrow {
    text-transform: uppercase;
  }
}

.big-about-mobile {
  height: 60vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/mobile-about-img.png");

  .custom-eyebrow {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }

  .custom-eyebrow {
    text-transform: uppercase;
  }
}

//  BlueHost Product page CSS ///

#blue-final {
  background-color: #2b2b2b;
}

.blue-presentation {
  background-color: #2e4464;
  height: inherit;

  padding-top: 0rem;
  padding-bottom: 4rem;
}

.big-bluehost {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/blue-img/blue-hero-3.png");

  .custom-eyebrow {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }

  #dmn-final {
    background-color: #680303;
  }

  .custom-eyebrow {
    text-transform: uppercase;
  }
}

/// Domain service product page CSS //////////////
///

#dmn-final {
  background-color: #570202;
}

.big-dmn-serv {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/dmn-serv-img/dmn-hero-3.png");

  .custom-eyebrow {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }

  #dmn-final {
    background-color: #2b2b2b;
  }

  .custom-eyebrow {
    text-transform: uppercase;
  }
}

// web.com black friday campaign

.big-web-social {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/dmn-img/award-2.png");

  .custom-eyebrow {
    text-transform: uppercase;
    font-weight: 600;

    font-family: "Poppins", sans-serif;
  }
}

.overlay-dmn {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.web-presentation {
  background-color: #fff;
  height: inherit;

  padding-top: 0rem;
  padding-bottom: 4rem;
}

#web-final {
  background-color: #0a39c9;
}

.big-web {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
background-blend-mode: overlay, hard-light, normal;
  
  // background-image: radial-gradient(circle at 24% 23%, rgba(167, 167, 167,0.06) 0%, rgba(167, 167, 167,0.06) 25%,rgba(148, 148, 148,0.06) 25%, rgba(148, 148, 148,0.06) 50%,rgba(129, 129, 129,0.06) 50%, rgba(129, 129, 129,0.06) 75%,rgba(110, 110, 110,0.06) 75%, rgba(110, 110, 110,0.06) 100%),radial-gradient(circle at 58% 30%, rgba(14, 14, 14,0.06) 0%, rgba(14, 14, 14,0.06) 25%,rgba(60, 60, 60,0.06) 25%, rgba(60, 60, 60,0.06) 50%,rgba(107, 107, 107,0.06) 50%, rgba(107, 107, 107,0.06) 75%,rgba(153, 153, 153,0.06) 75%, rgba(153, 153, 153,0.06) 100%),radial-gradient(circle at 79% 53%, rgba(225, 225, 225,0.06) 0%, rgba(225, 225, 225,0.06) 25%,rgba(189, 189, 189,0.06) 25%, rgba(189, 189, 189,0.06) 50%,rgba(152, 152, 152,0.06) 50%, rgba(152, 152, 152,0.06) 75%,rgba(116, 116, 116,0.06) 75%, rgba(116, 116, 116,0.06) 100%),linear-gradient(221deg, rgb(0,0,0),rgb(0,0,0));

  .custom-eyebrow {
    text-transform: uppercase;
    font-weight: 600;

    font-family: "Poppins", sans-serif;
  }
}

.content-styles-deliver-web {
  padding-bottom: 8rem;
  padding-top: 2rem;
  background-color: #0a39c9;

  .netsol-laptop-intro-style {
    margin-top: 3rem;
    margin-bottom: auto;
  }

  .intro-asset-style {
    margin-bottom: -7rem;
  }

  .bill-laptop-intro-style-image {
    margin-bottom: -14rem;
  }
}

.overlay-web {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #767676;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Domain-search Code proj css

.big-domain-social {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/dmn-img/award-2.png");

  .custom-eyebrow {
    text-transform: uppercase;
    font-weight: 600;

    font-family: "Poppins", sans-serif;
  }
}

.big-domain {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/dmn-img/domain-cover.svg");

  .custom-eyebrow {
    text-transform: uppercase;
    font-weight: 600;

    font-family: "Poppins", sans-serif;
  }
}

.fis-deliverables {
  background-color: #89b0ae;
  height: inherit;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .fis-padding {
    padding-top: 4rem;
  }
}

.fis-green-color {
  background-color: #012834;
}

.dmn-red-color {
  background-color: #b63837;
}

.dmn-presentation {
  height: inherit;
  padding-top: 1rem;

  .dmn-padding {
    padding-top: 4.5rem;
  }
}

// Glados Code proj css

.big-glados {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
 background: linear-gradient(55deg, #212121 0%, #212121 40%, #323232 calc(40% + 1px), #323232 60%, #008F95 calc(60% + 1px), #008F95 70%, #14FFEC calc(70% + 1px), #14FFEC 100%);
  
  // background-image: radial-gradient(circle at 24% 23%, rgba(167, 167, 167,0.06) 0%, rgba(167, 167, 167,0.06) 25%,rgba(148, 148, 148,0.06) 25%, rgba(148, 148, 148,0.06) 50%,rgba(129, 129, 129,0.06) 50%, rgba(129, 129, 129,0.06) 75%,rgba(110, 110, 110,0.06) 75%, rgba(110, 110, 110,0.06) 100%),radial-gradient(circle at 58% 30%, rgba(14, 14, 14,0.06) 0%, rgba(14, 14, 14,0.06) 25%,rgba(60, 60, 60,0.06) 25%, rgba(60, 60, 60,0.06) 50%,rgba(107, 107, 107,0.06) 50%, rgba(107, 107, 107,0.06) 75%,rgba(153, 153, 153,0.06) 75%, rgba(153, 153, 153,0.06) 100%),radial-gradient(circle at 79% 53%, rgba(225, 225, 225,0.06) 0%, rgba(225, 225, 225,0.06) 25%,rgba(189, 189, 189,0.06) 25%, rgba(189, 189, 189,0.06) 50%,rgba(152, 152, 152,0.06) 50%, rgba(152, 152, 152,0.06) 75%,rgba(116, 116, 116,0.06) 75%, rgba(116, 116, 116,0.06) 100%),linear-gradient(221deg, rgb(0,0,0),rgb(0,0,0));

  .custom-eyebrow {
    text-transform: uppercase;
    font-weight: 600;

    font-family: "Poppins", sans-serif;
  }
}

.glados-presentation {
  background-color: #191919;
  height: inherit;

  padding-top: 0rem;
  padding-bottom: 4rem;
}

// style-guide CSS /////////////

.big-style {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;

  background-image: url("../img/img_style/hero_att_v2.png");

  .custom-eyebrow {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }

  .custom-eyebrow {
    text-transform: uppercase;
  }
}

.style-guide-presentation {
  background-color: #1CA8E0;
  height: inherit;

  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

// Billing  App CSS /////////////

.big-billing {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;

  background-image: url("../img/bill-refresh/chill-payment.jpg");

  .custom-eyebrow {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }

  .custom-eyebrow {
    text-transform: uppercase;
  }
}

.billing-presentation {
  background-color: #ffffff;
  height: inherit;

  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.content-styles-deliver-bill {
  padding-bottom: 8rem;
  padding-top: 2rem;

  .netsol-laptop-intro-style {
    margin-top: 3rem;
    margin-bottom: auto;
  }

  .intro-asset-style {
    margin-bottom: -7rem;
  }

  .bill-laptop-intro-style-image {
    margin-bottom: -14rem;
  }
}

.custom-billing-seperator {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.big-fis {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/fis-img/fis-cover.png");

  .custom-eyebrow {
    text-transform: uppercase;
    font-weight: 500;
  }

  .custom-eyebrow {
    text-transform: uppercase;
    font-weight: 500;
  }
}

// Network solutions css

.big-netsol {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/netsol-img/netsol-cover.jpg");

  .custom-eyebrow {
    text-transform: uppercase;
    font-weight: 500;
  }

  .custom-eyebrow {
    text-transform: uppercase;
    font-weight: 500;
  }
}

// Google Workspace CSS

.big-workspace {
  height: 99vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
    background: linear-gradient(125deg, #FDFF9C 0%, #0500FF 100%), linear-gradient(180deg, #D3D3D3 0%, #161616 100%), linear-gradient(310deg, #00F0FF 0%, #00F0FF 20%, #0017E3 calc(20% + 1px), #0017E3 40%, #000F8F calc(40% + 1px), #000F8F 70%, #00073F calc(70% + 1px), #00073F 100%), linear-gradient(285deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
    background-blend-mode: overlay, overlay, exclusion, normal;


  // background-image: radial-gradient(circle at 11% 62%, rgba(205,205,205, 0.0392156862745098) 0%, rgba(205,205,205, 0.0392156862745098) 50%,rgba(149, 149, 149,0.04) 50%, rgba(149, 149, 149,0.04) 100%),radial-gradient(circle at 78% 10%, rgba(49, 49, 49,0.04) 0%, rgba(49, 49, 49,0.04) 50%,rgba(254, 254, 254,0.04) 50%, rgba(254, 254, 254,0.04) 100%),radial-gradient(circle at 92% 43%, rgba(34, 34, 34,0.04) 0%, rgba(34, 34, 34,0.04) 50%,rgba(206, 206, 206,0.04) 50%, rgba(206, 206, 206,0.04) 100%),linear-gradient(329deg, rgb(244,180,0),rgb(218, 227, 61));
  

  .custom-eyebrow {
    text-transform: uppercase;
  }

  .overlay-workspace {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.content-styles-deliver-workspace {
  padding-bottom: 4rem;
  padding-top: 2rem;
  background-color: #0f9d58;

  .netsol-laptop-intro-style {
    margin-top: 5rem;
  }

  .intro-asset-style {
    margin-bottom: -8rem;
  }
}

.google-presentation {
  background-color: #404040;
  height: inherit;

  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.netsol-presentation {
  background-color: #f2f2f2;
  height: inherit;

  padding-top: 2rem;
  padding-bottom: 4rem;

  .project-spacer {
    padding-top: 4.5rem;
  }
}

.workspace-presentation-deliverables {
  background-color: #0f9d58;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.netsol-presentation-deliverables {
  background-color: #89b0ae;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.google-presentation-deliverables {
  background-color: #89b0ae;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.billing-presentation-deliverables {
  background-color: #89b0ae;
  height: inherit;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.intro-project {
  height: inherit;
  background-color: #ffffff;
  // padding-bottom: 5rem;
  // padding-top: 1rem;

  .content-styles {
    padding-bottom: 3rem;
  }
}

.netsol-laptop-intro-style {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.netsol-laptop-intro-style-image {
  // margin-top: 4rem;
  margin-bottom: -9rem;
}

.content-styles {
  // padding-bottom: 1rem;
  padding-top: 4rem;
}

.content-styles-deliver {
  padding-bottom: 4rem;
  padding-top: 3rem;
}

// .cover-text {

//     font-size: 5rem;
// }

.overlay-netsol {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wow {
  visibility: hidden;
}